body {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fbf1c7;
    color: #282828;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f2e5bc;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    flex-grow: 1;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #282828;
    font-weight: bold;
}

.contact-info {
    margin-top: 30px;
    border-top: 1px solid #d5c4a1;
    padding-top: 20px;
}


#style-toggle {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: #458588;
    color: #fbf1c7;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-bottom: 40px;
}

main {
    margin-left: 240px;
    padding: 40px;
    width: calc(100% - 240px);
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 33.33%;
    min-width: 300px;
    max-width: 690px;
    flex-grow: 1;
}

h1,
h2,
h3 {
    color: #af3a03;
}

a {
    color: #076678;
}

#style-toggle {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: #458588;
    color: #ebdbb2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#style-toggle:hover {
    background-color: #3e6c6e;
}

#style-toggle .sun-icon {
    display: none;
}

#style-toggle .moon-icon {
    display: block;
}

#gameCanvas {
    display: block;
    margin: 20px auto;
    background-color: #fbf1c7;
}

#gameControls {
    text-align: center;
    margin-bottom: 20px;
}

#startButton {
    background-color: #98971a;
    color: #fbf1c7;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#startButton:hover {
    background-color: #b8bb26;
}